<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- CSS Files -->
<link rel="stylesheet" media="screen and (max-width: 599px)" href="../../css/tasktracker-phone.css">
<link rel="stylesheet" media="screen and (min-width: 600px) and (max-width: 1199px)" href="../../css/tasktracker-tablet.css">
<link rel="stylesheet" media="screen and (min-width: 1200px) and (max-width: 1600px)" href="../../css/tasktracker-small-pc.css">
<link rel="stylesheet" media="screen and (min-width: 1601px)" href="../../css/tasktracker-large-pc.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- JS Files -->
<script src="../../js/tasktracker-index.js" type="text/javascript"></script>
<title>TaskTracker</title>
</head>
<body>
<div class="topnav" id="myTopnav">
	<a href="#home" class="active">Home</a>
	<a href="#news">News</a>
	<a href="#contact">Contact</a>
	<a href="#about">About</a>
	<a href="javascript:void(0);" class="icon" onclick="dropdownNav()">
	<i class="fa fa-bars"></i>
	</a>
</div>
<div class="row">
	<div class="col-s-12 col-t-12 col-sp-4 col-lp-4"></div>
	<div class="col-s-12 col-t-12 col-sp-4 col-lp-4">
		<!-- Menu -->
		<div class="menu-index" id="menu-index">
		    <h1>TaskTracker</h1>
		    <p>A personal web project that will allow the user to track multiple tasks in different projects.</p>
		    <p>Join TaskTracker and track all your projects!</p>
		    <div class="row">
		    	<div class="col-s-12 col-t-12 col-sp-12 col-lp-12"></div>
		    	<div class="col-s-12 col-t-12 col-sp-6 col-lp-6">
		    		<button type="submit" class="button" name="register" id="register">Register</button>
		    	</div>
		    	<div class="col-s-12 col-t-12 col-sp-6 col-lp-6">
		    		<button type="submit" class="button" name="login" id="login">Log In</button>
		    	</div>
		    	<div class="col-s-12 col-t-12 col-sp-12 col-lp-12"></div>
		    </div>
	    </div>
	    <!-- Menu -->
	    <!-- Register -->
	    <div class="menu-index hidden" id="register-index">
	    	<h3>Register Form</h3>
		    <p>Please fill all the fields before clicking the register button.</p>
		    <!-- Form Inputs -->
		    <form method="post" action="" id="register-form" name="register-form">
		    <div class="row">
		    	<div class="col-s-3 col-t-4 col-sp-6 col-lp-5">
		    		<label for="fname" id="register-form-label">First Name:</label>
		    	</div>
		    	<div class="col-s-9 col-t-8 col-sp-6 col-lp-7">
		    		<input type="text" id="fname" name="fname" class="input-register-text">
		    		<p class="error-message hidden" id="errorRequiredFname">First Name field is required!</p>
		    	</div>
		    	<div class="col-s-3 col-t-4 col-sp-6 col-lp-5">
		    		<label for="lname" id="register-form-label">Last Name:</label>
		    	</div>
		    	<div class="col-s-9 col-t-8 col-sp-6 col-lp-7">
		    		<input type="text" id="lname" name="lname" class="input-register-text">
		    		<p class="error-message hidden" id="errorRequiredLname">Last Name field is required!</p>
		    	</div>
		    	<div class="col-s-3 col-t-4 col-sp-6 col-lp-5">
		    		<label for="eaddress" id="register-form-label">Email:</label>
		    	</div>
		    	<div class="col-s-9 col-t-8 col-sp-6 col-lp-7">
		    		<input type="email" id="eaddress" name="eaddress" class="input-register-text">
		    		<p class="error-message hidden" id="errorRequiredEaddress">Email field is required!</p>
		    	</div>
		    	<div class="col-s-3 col-t-4 col-sp-6 col-lp-5">
		    		<label for="password" id="register-form-label">Password:</label>
		    	</div>
		    	<div class="col-s-9 col-t-8 col-sp-6 col-lp-7">
		    		<input type="password" id="pword" name="pword" class="input-register-text">
		    		<p class="error-message hidden" id="errorRequiredPword">Password field is required!</p>
		    	</div>
		    	<div class="col-s-3 col-t-4 col-sp-6 col-lp-5">
		    		<label for="repeatpword" id="register-form-label">Repeat Password:</label>
		    	</div>
		    	<div class="col-s-9 col-t-8 col-sp-6 col-lp-7">
		    		<input type="password" id="repeatpword" name="repeatpword" class="input-register-text">
		    		<p class="error-message hidden" id="errorRequiredRepeatPword">Repeat Password field is required!</p>
		    	</div>
		    <!-- Form Inputs -->
		    </div>
			    <div class="row">
			    	<div class="col-s-12 col-t-12 col-sp-12 col-lp-12"></div>
			    	<div class="col-s-12 col-t-12 col-sp-6 col-lp-6">
			    		<button type="submit" class="button" name="registerSubmit" id="registerSubmit">Register</button>
			    	</div>
			    	<div class="col-s-12 col-t-12 col-sp-6 col-lp-6">
			    		<button type="button" class="button" name="registerCancel" id="registerCancel">Cancel</button>
			    	</div>
			    	<div class="col-s-12 col-t-12 col-sp-12 col-lp-12"></div>
			    </div>
		    </form>
	    </div>
	    <!-- Register -->
	    <!-- Log In -->
	    <div class="log-in-index">
		    
	    </div>
	    <!-- Log In -->
    </div>
	<div class="col-s-12 col-t-12 col-sp-4 col-lp-4"></div>
</div>
</body>
</html>